
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.pie {
  margin: 20px;
}

.pie text {
  fill: #888;
}

.pie .name-text {
  font-size: 1em;
}

.pie .value-text {
  font-size: 3em;
}

.area {
  fill: lightsteelblue;
}

.line-rect {
  fill: black;
  opacity: 0;

  &:hover {
    opacity 1;
  }
}