
.line {
  fill: none;
  stroke: #448aff;
  stroke-width: 1.5px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.pie {
  margin: 20px;
}

.pie text {
  fill: #888;
}

.pie .name-text {
  font-size: 1em;
}

.pie .value-text {
  font-size: 3em;
}

//.area {
//  fill: linear;
//}

.line-rect {
  fill: black;
  opacity: 0;

  &:hover {
    opacity 1;
  }
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}